.list-container{
  padding: 6rem 0 6rem;
}

.content{
  background-color: #fff;

  &__spacing{
    padding: 2rem 12rem;
  }

  &__title{
    font-size: 2rem;
    font-weight: 700;

    @media(max-width: 768px){
      font-size: 1.5rem;
    }
  }
}
