<main class="container">
  <section class="list-container">
    <div class="list-container__content">
      <h1 class="list-container__title">Notificatio message -> Pesquisa</h1>
    </div>
    <div class="list-container__colum">
      <app-list-form></app-list-form>
      <div class="list-container__container-image" *ngIf="!test">
        <img class="list-container__image-desk" src="/assets/crud/loading.svg" alt="Espera">
      </div>
    </div>
    <div class="list-container__table" >
      <div class="list-container__table--data">
        <div class="list-container__table--action">
          <table *ngIf="!test">
            <thead>
              <tr>
                <th>body</th>
                <th>campaignCode</th>
                <th>messageType</th>
                <th>groupSupport</th>
                <th>isCampaing</th>
                <th>isSmtp</th>
                <th>_id</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody >
              <tr>
                <td>Teste</td>
                <td>585558sdfsdf</td>
                <td>Zenvia</td>
                <td>Zenvia teste</td>
                <td>true</td>
                <td>false</td>
                <td>11111</td>
                <td>
                  <button (click)="updateList(test)" class="list-container__table--edit">Editar</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="list-container__container-image" *ngIf="!test">
            <img class="list-container__image" src="/assets/crud/loading.svg" alt="Espera">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

