.form{
  display: grid;
  grid-template-columns: max-content 1fr;

  @media(max-width:767px){
    display: flex;
    flex-direction: column;
  }

  label{
    padding: 1rem 0;
    font-size: 1.6rem;
  }

  input{
    height: 100%;
    border-radius: 1rem;
    border: none;
    padding: 1.5rem 1rem;
    background-color: #f7f9fc;
    border: 1px solid #e4e9f2;
    color: #222b45;
  }

  &__data{
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }
}

.button{
  background-color: #00d68f;
  border-color: #00d68f;
  color: #fff;
  padding: 1rem;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
}

.button-cancel{
  background-color: #e73452;
  border-color: #e73452;
  color: #fff;
  padding: 1rem;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.flex{
  display: flex;
  flex-direction: column;
}

.message-error{
  margin: 1rem 0;
  background: #f4a5a5;
  padding: 1.2rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

.content-data{
  padding: 0 2rem;

  @media(max-width: 768px){
    padding: 0;
  }
}

select{
  width: 7rem;
  height: 4rem;
  border: 1px solid #e4e9f2;
  border-radius: 5px;
  margin-bottom: 1rem;
}

textarea{
  height: 200px;
  font-size: 1.6rem;
  width: 300px;
  resize: none;
  border-radius: 1rem;
  border: none;
  padding: 1.5rem 1rem;
  background-color: #f7f9fc;
  border: 1px solid #e4e9f2;
  color: #222b45;
}

@media(max-width: 768px){
  textarea{
    width: auto;
  }

}
